{% extends 'blog/base.html' %}
    {% block body_block %}

        <!-- Main Content -->
	<div class='container blog'>
		<div class="row">
			<div class="col col-sm-4 col-md-2">
				<div class="container">
                    <center> {% if post.post_tag == "django" %}
                                   <img class= "img-rounded-float-right" src="{{DJANGO}}" alt="avatar" width="150" height="150">
                                   {% elif post.post_tag == "java" %}
                                   <img class= "img-rounded-float-right" src="{{JAVA}}" alt="avatar" width="150" height="150">
                                   {% elif post.post_tag == "python" %}
                                   <img class= "img-rounded-float-right" src="{{PYTHON}}" alt="avatar" width="150" height="150">
                                   {% elif post.post_tag == "c" %}
                                   <img class= "img-rounded-float-right" src="{{C}}" alt="avatar" width="150" height="150">
                                   {% elif post.post_tag == "linux" %}
                                   <img class= "img-rounded-float-right" src="{{LINUX}}" alt="avatar" width="150" height="150">
                                   {% elif post.post_tag == "android" %}
                                   <img class= "img-rounded-float-right" src="{{ANDROID}}" alt="avatar" width="150" height="150">
                                   {% elif post.post_tag == "flutter" %}
                                   <img class= "img-rounded-float-right" src="{{FLUTTER}}" alt="avatar" width="150" height="150">
                                   {% elif post.post_tag == "html" %}
                                   <img class= "img-rounded-float-right" src="{{HTML}}" alt="avatar" width="150" height="150">
                                   {% elif post.post_tag == "css" %}
                                   <img class= "img-rounded-float-right" src="{{CSS}}" alt="avatar" width="150" height="150">
                                   {% elif post.post_tag == "bootstrap" %}
                                   <img class= "img-rounded-float-right" src="{{BOOTSTRAP}}" alt="avatar" width="150" height="150">
                                   {% elif post.post_tag == "story" %}
                                   <img class= "img-rounded-float-right" src="{{STORY}}" alt="avatar" width="150" height="150">
                                   {% else %}
                                   <img class= "img-rounded-float-right" src="{{IDEA}}" alt="avatar" width="150" height="150">
                                   {% endif %}
                    </center>
                </div>
			</div>

			<div class="col col-sm-8 col-md-9 container-fluid verticle-hr">
				<div class="row-2">
					<center><strong><h1>{{post.title}}</h1></strong></center>
				</div>
				<div class="row-1">
					<hr>
				</div>
				<div class="row-9">
					{{post.body|linebreaks}}
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="back">
		<a class="btn btn-primary back-btn" role="button" href="{% url 'blog:blogpage' %}"><< BACK</a>
	</div>
 {% endblock %}